.button {
  font-weight: bold;
  color: white;
  background-color: var(--color-light--2);
  border: none;
  padding: 5px 10px;
}

.quantity {
  width: 30px !important;
  margin-bottom: 20px;
  font-weight: bolder;
}

.placeOrder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px !important;
  padding: 10px 20px;
  gap: 10px;
}
