.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.nav a {
  text-decoration: none;
  color: var(--color-light--2);
}

.nav header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav img {
  aspect-ratio: 1/1;
  height: 40px;
}

.searchContainer {
  position: relative;
}

.searchContainer svg {
  position: absolute;
  bottom: 5px;
  right: 20px;
}

.search {
  height: 40px;
  width: 40vw;
  font-size: 1rem;
  padding-left: 20px;
  padding-right: 50px;
  border: 1px solid #353a40;
  border-radius: 20px;
}

.ul {
  list-style: none;
}

.ul li:first-child {
  position: relative;
}

.ul li:first-child span {
  position: absolute;
  top: 0;
  right: -5px;
  border-radius: 100%;
  color: white;
  font-size: 0.5rem;
  font-weight: bold;
  padding: 5px;
  height: 15px;
  width: 15px;
  background-color: var(--color-light--2);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
