.productContainer {
  display: flex;
  align-items: center;
  gap: 80px;
}

.productContainer span {
  padding: 0 10px;
}

.img {
  aspect-ratio: 1/1;
  object-fit: contain;
  width: 100px;
  height: 100px;
}

.selection {
  position: relative;
}

.removeItem {
  position: absolute;
  bottom: 20px;
  left: 150px;
  cursor: pointer;
}
